.pages-wrapper {
    text-align: center;
    align-items: center;
}

.content {
    width: 45px;
    height: 45px;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    background: var(--white);
    box-shadow: 0px 0px 18px rgba(33, 39, 60, 0.12);
    padding-top: 12px;
}

.div {
    max-width: 1550px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 100px auto;
}

.content:active {
    color: var(--violet);
}