@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --violet: #6347F9;
    --blue: #22283C;
    --black: #0C1218;
    --white: #fff;
    --gray: #9DA1B4;
    --imageColor:aliceblue;
}